.login-form label {
    margin: 10px;
}

.login-form label input {
    margin: auto;
    width: 300px;
    height:25px;
    border-radius: 15px;
}

#login-button {
    cursor: pointer;
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    padding: 2px;
    font-weight: bold;
    color: rgb(50,55,64);
    border-radius: 25px;
    margin: 0 auto 10px;
    width: 100px;
}

#login-button:hover {
    color: white;
    background: rgb(50,55,64);
}

#login-button:disabled {
    color: grey;
    cursor: not-allowed;
}