.popup-box {
    position: fixed;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.title-details {
    display: flex;
    border-radius: 15px;
    padding: 20px;
    color: white;
}

.details {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    background: rgba(25, 20, 26, 0.95);
    border-radius: 15px;
    width: 70%;
    height: 50%;
    padding: 20px;
}

#details-title {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
}

#title-info {
    border: 2px solid white;
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
    height: 200px;
    background: rgba(139, 6, 6, 0.5);
}

#details-image {
    max-width: 300px;
    max-height: 400px;
    border-radius: 15px;
}

#description {
    margin-left: 20px;
    color: white;
    height: 100px;
}

.close-icon {
    content: 'x';
    cursor: pointer;
    background: rgba(140, 135, 135, 0.9);
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.close-icon:hover {
    background: rgba(74, 72, 72, 0.9);
}