.profilepage {
    background: rgba(255, 255, 255, 0.3);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 40px;
    border: rgb(50,55,64) 2px solid;
    border-radius: 15px;
    width: 800px;
    height: 600px;
}

.profile-title {
    font-size: 24px;
    padding: 20px;
    margin: 20px;
    height: 70px;
}

.profile-content {
    background: rgba(25, 20, 26, 0.95);
    padding: 20px;
    margin: 50px 20px 20px;
    border: rgb(50,55,64) 2px solid;
    border-radius: 15px;
}

#profile-button {
    cursor: pointer;
    margin: 10px;
    border-radius: 25px;
    width: 80px;
}