.login-form {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    letter-spacing: 1px;
    height: 350px;
    width: 400px;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    border: rgb(75, 78, 84) 2px solid;
    border-radius: 10px;
    padding: 20px;
}

.login-form label {
    margin: 10px;
}

.login-form label input {
    margin: auto;
    width: 250px;
    border-radius: 5px;
}

#retrieve-password {
    align-self: flex-end;
    text-decoration: underline;
    font-weight: bold;
}

#password, #username, #email {
    margin: 10px;
}

.login-container {
    color: rgb(50,55,64);
    background: rgba(255, 255, 255, 0.75);
    border: rgb(50,55,64) 2px solid;
    border-radius: 10px;
    padding: 30px;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login-button {
    cursor: pointer;
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(50,55,64);
    border-radius: 25px;
    margin: 40px auto auto;
    width: 100px;
}

#login-button:hover {
    color: white;
    background: rgb(50,55,64);
}

#signup {
    position: absolute;
    bottom: 10%;
    right: 7%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

#login-title {
    color: rgb(50,55,64);
    text-align: center;
}

#login-error {
    font-size: 14px;
    height: 10px;
    margin: 0;
    padding: 0;
    display: inline-block;
    color: red;
}