.login-form {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    letter-spacing: 1px;
    height: 350px;
    width: 400px;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    border: rgb(75, 78, 84) 2px solid;
    border-radius: 10px;
    padding: 20px;
}

.login-container {
    color: rgb(50,55,64);
    background: rgba(255, 255, 255, 0.75);
    border: rgb(50,55,64) 2px solid;
    border-radius: 10px;
    padding: 30px;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#signup {
    position: absolute;
    bottom: 10%;
    right: 7%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

#login-title {
    color: rgb(50,55,64);
    text-align: center;
}

#login-error {
    font-size: 14px;
    height: 10px;
    color: red;
}