.title-component {
    font-family: 'Segoe UI', sans-serif;
    color: white;
    background: rgba(112, 112, 112, 0.75);
    border-radius: 10px;
    width: 180px;
    height: 320px;
    padding: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.title-component:hover {
    background: rgba(58, 58, 58, 1);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

#image {
    width: 180px;
    height: 250px;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45px;
    font-size: 15px;
}

#imdb {
    margin: 3px;
    align-self: flex-end;
    font-size: 14px;
}

#star {
    color: gold;
}


