body, html, #root {
    height: 100%;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-image: url('assets/photo-1598931587008-88cc8a5e3a40.jpg');
    margin: 0;
    overscroll-behavior-x: contain;
}

.contentpage {
    padding: 0;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-areas: 'sidebar component-wrapper';
    height: 100%;
}

.loader {
    margin: 10px;
    width: 30px;
    height: 30px;
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.component-wrapper {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: max-content max-content;
    grid-auto-flow: column;
    grid-area: component-wrapper;
    overflow-x: auto;
}

::-webkit-scrollbar {
    width: 0;
    background: rgba(25, 20, 26, 0.5);
    margin-bottom: 0;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(rgb(50,55,64), grey, black);
    border-radius: 25px;
}

.component-wrapper:after {
    content: '';
    width: 10px;
}

input {
    padding-left: 10px;
}

#server-error {
    margin: 10px;
    color: white;
}

@media(min-height: 800px) and (max-height: 1000px) {
    .component-wrapper {
        margin-top: 10%;
    }
}

@media(min-height: 1000px) {
    .component-wrapper {
        grid-template-rows: auto auto auto;
    }
}

