body {
    font-family: 'Segoe UI', sans-serif;
    background-image: url('assets/photo-1598931587008-88cc8a5e3a40.jpg');
    margin: 0;
    overscroll-behavior-x: contain;
    overflow-y: auto;
}

.contentpage {
    height: 100%;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-areas: 'sidebar component-wrapper';
}

.loader {
    margin: 10px;
    width: 30px;
    height: 30px;
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.component-wrapper {
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: max-content max-content;
    grid-auto-flow: column;
    grid-area: component-wrapper;
    overflow-x: auto;
}

@media(min-height: 800px) {
    .component-wrapper {
        grid-template-rows: max-content max-content max-content;
    }
}

.component-wrapper:after {
    content: '';
    width: 10px;
}

input {
    padding-left: 10px;
}

#server-error {
    margin: 10px;
    color: white;
}

