::-webkit-scrollbar {
    width: 0;
}

::placeholder {
    font-size: large;
}

input:focus {
    outline: none;
}

.component-wrapper {
    display: block;
    margin-left: 200px;
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    overflow-x: scroll;
}
