::-webkit-scrollbar {
    width: 0;
}

::placeholder {
    font-size: large;
}

input:focus {
    outline: none;
}

.component-wrapper {
    margin-left: 200px;
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: max-content max-content;
    grid-auto-flow: column;
    overflow-x: scroll;
}

#message {
    position: absolute;
    left: 45%;
    top: 45%;
    color: white;
    font-size: 36px;
}